

textarea{
    height: 250px;
    font-size: 1.2rem;
}

h1{
    margin-top: 10px;
    padding-right: 10px;
}

.outline{
    font-size: 1.3rem;
    padding: 15px 40px;
}

.ranges{
    display: flex;
    flex-direction: row;
  justify-content: space-between;
    width: 600px;
   
}

.ranges>div{
    height: 50px;
    font-size: 1rem;
    
}

.ranges>div>input[type='range']{
    width: 200px;
}