body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    background:skyblue;
   
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

#screen{
    padding: 10px 15px;
    border: 3px solid rgba(0, 0, 0, 0.501);
    border-radius: 10px;
}

button{
  margin-left: 10px;  
  padding:10px 20px;
  border-radius: 10px;
  font-size: 16px;
  color: black;
 background: transparent;
  border: 2.3px solid;
  font-weight: bold;
  
}

button:hover{
background-color:rgba(144, 238, 144, 0.635);
transition: 0.1s ease-in;
}
#reset{
color: rgb(226, 46, 187);
border: 2.3px solid black;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.771);
    box-shadow: 0px 5px 25px rgb(254, 254, 198);
    
}
.toggle{
    display: flex;
}
.togle{
    height: 30px;
    width: 70px;
    border-radius: 20px;
    border: 2px solid black;
    margin-bottom: 20px;
background-color: rgb(82, 195, 239);
position: relative;
transition: all 0.2s ease;
}

.togle::before{
    content: '';
    height: 26px;
    width: 26px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(255, 222, 4);
    margin:2px;
    transform: translateX(0);
    transition: all 0.2s;
    
}

input[type='checkbox']:checked + .togle::before{
transform: translateX(39px);
background-color:lightgoldenrodyellow;
}

input[type='checkbox']:checked + .togle{
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    }


    input[type='checkbox']{
        display: none;
    }
